<template>
    <div class="container-fluid">
        <div class="row">
           <div class="col-md-3"></div>
            <div class="col-md-6">
               <div class="form-group">
                   <label>Select language</label>
                   <select class="form-control" v-model="language">
                       <option  v-for="lan in languages"
                                :key="lan.code"
                                :value="lan.code"
                                v-text="lan.name"></option>
                   </select>
               </div>
                <div class="form-group">
                    <label v-text="question"></label>
                    <textarea rows="5" class="form-control" v-model="searchQuery"></textarea>
                </div>
                <hr style="border-bottom:3px solid darkgreen;">
                <div>
                    <span  class="well" v-text="message"></span>
                </div>
                <br>
                <div v-if="processing">Processing....</div>
                <br><br>
                <div class="sentiment-box" v-if="sentiments.length !==0">
                    <span style="color: #335E60; font-size: 18px;"><b>Text Analytics Summary</b></span>
                    <div class="sentiment-result">
                        <i class="fa fa-bars"></i>
                        <span v-bind:key="sentiment.noun" v-for="sentiment in sentiments" :class="sentiment.sentiment === '+' ? 'sentiment happy' : 'sentiment sad'">
                            <img :src="getReactionImage(sentiment.sentiment)"> &nbsp; {{ sentiment.noun }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'Home',
    props:[],
    computed:{
      question(){
        return this.languages.find(item => item.code === this.language).question;
      },
      message: {
        get: function () {
          return !this.defaultMessage ?  this.languages.find(item => item.code === this.language).message: this.defaultMessage;
        },
        set: function (newValue) {
          return newValue;
        }
      }
    },
    mounted(){

    },
    watch: {
      language(){
        this.defaultMessage = null;
        this.searchQuery = null;
        this.sentiments = [];
      },
      searchQuery:function(){
        if(typeof window.LIT !== 'undefined') {
          clearTimeout(window.LIT);
        }

        window.LIT = setTimeout(() => {
          if(!this.searchQuery) {
            return false;
          }
          this.fetchSentiments()
        }, 1000);
      }
    },
    data(){
      return {
        defaultMessage:null,
        languages:[
          {
            code: 'en',
            name:'English',
            question:'What are the reason for score?',
            message:'Please be specific and detailed with your response.'
          },
          {
            code: 'fr',
            name:'French',
            question:'Quelle est la raison du score?',
            message:'Veuillez être spécifique et détaillé avec votre réponse.'
          },
          {
            code: 'de',
            name:'German',
            question:'Was sind die Gründe für die Punktzahl?',
            message:'Bitte geben Sie Ihre Antwort genau und detailliert an.'
          }
        ],
        processing:false,
        searchQuery:'',
        language:'en',
        sentiments: [],
        previousText:''
      }
    },
    methods:{
      getReactionImage(reaction){
        return reaction === '+' ? '/images/happy.png' : '/images/sad2.png';
      },
      fetchSentiments(){
        this.processing = true;
        let data = {
          input_text: this.searchQuery,
          language: this.language
        };
        this.$http.post('http://18.202.55.38:5055/sentiment-analysis', data)
          .then(response => {
            this.sentiments = response.data.data;
            this.previousText = data.input_text;
            this.defaultMessage = response.data.message;
            this.processing = false;
          })
          .catch(err => {
            alert(err.response);
            this.processing = false;
          })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
   .container-fluid {
       text-align: left !important;
   }
    .well {
        background-color: #E1E0DF !important;
        border-radius: 18px !important;
        color: black;
        font-style: italic;
        padding: 2%;
    }
    .sentiment-box {
        background-color: #D6EEDC !important;
        border-radius: 2% !important;
        padding: 2%;
    }
    .sentiment-result{
        background-color: white !important;
        padding: 3% !important;
        margin: 2.5% !important;
        height: 85px !important;
    }
    .sentiment{
        background-color: #E1EFDF;
        color: black;
        border-radius: 20px;
        padding: 2.5%;
        margin-right:5px !important;
    }
    .happy{
        border:3px solid darkgreen;
    }
    .sad{
        border:3px solid red;
    }
    img{
        height: 2.8em !important;
        width: auto !important;
    }
    .container-fluid{
        margin-top:5% !important;
    }
</style>
